########################################
## Unity
########################################
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log

/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/Plugins/Editor/JetBrains*
.vs/
.gradle/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

########################################
## C++ / Siv3D
########################################

# Build directories
[Bb]uild/
[Bb]in/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
out/
dist/

# Compiled object files and binaries
*.obj
*.o
*.lo
*.la
*.al
*.lib
*.a
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Compiler-generated intermediate files
*.idb
*.pdb
*.ilk
*.exp

# Precompiled headers
*.gch
*.pch

# Assembly listings
*.s
*.asm

# Debug files
*.dSYM/
*.su
*.ncb
*.opendb
*.VC.db
*.ipch

# IDE-specific (VS, CLion, VSCode)
.vscode/
.idea/
*.code-workspace

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
